@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: white;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}
html, .menu-option, body{
    min-height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/*Tá com um bug no gradient, ao aumentar muito o zoom, tem que arrumar isso （＞人＜；)
> Foi, faltava um background-repeat: no-repeat e um background-attachment: fixed; Vou deixar aqui registrado. Também tava com um bug de cortar os itens quando dava zoom, isso foi arrumado usando min-height:100% no html e body, colocando o flex no html e colocando height:100% no body*/
body {
    min-width: 100%;
    height: 100%;
    background: linear-gradient(107.56deg, #00AEE4 0%, #00698A 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.menu-row-margin {
    margin: 64px 0px;
    
}
.menu-option {
    width: 125px;
    height: 100px;
    background-color: #00779C;
    border-radius: 5px;
    font-size: 13px;
    transition-duration: 0.1s;  
}
.menu-option:hover {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.356);
}
.row {
    display: flex;
    justify-content: center;
}
#menu-left {
    margin-right: 31px;
}
a:hover, a:visited, a{
    text-decoration: none;
    color: white;
}
.input_background, .inputs, .input_background button {
    height: 53px;
}
.input_background {
    background-color: #00779C;
    height: 53px;
    width: 174px;
    border-radius: 5px;
    display: flex;

}
.input_background .inputs{
    padding: 3px;
    background-color: #00779C;
    height: 47px;
    width: 121px;
    text-align: center;
    border-radius: 5px 0px 0px 5px;
    font-size: 16px;
}
.input_background button {
    background-color: #0095C5;
    width: 53px;
    border-radius: 0px 5px 5px 0px;
}
